<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
    <%- include('../partials/head'); %>
</head>
<body>


  <%- include('../partials/navbar'); %>
  <br />

  <div>
    <table class="table">
        <tr>
            <td >Argumentos de entrada</td>
            <td><%=info.arguments%></td>
        </tr>
        <tr>
            <td >Numeros de CPUS</td>
            <td><%=info.numCPUs%></td>
        </tr>
        <tr>
            <td >Sistema operativo</td>
            <td><%=info.os%></td>
        </tr>
        <tr>
            <td >Versión de node.js</td>
            <td><%=info.version%></td>
        </tr>
        <tr>
            <td>Memoria total reservada</td>
            <td><%=info.memory%></td>
        </tr>
        <tr>
            <td>Path de ejecución</td>
            <td><%=info.path%></td>
        </tr>
        <tr>
            <td>Process ID</td>
            <td><%=info.processId%></td>
        </tr>
        <tr>
            <td>Carpeta del proyecto</td>
            <td><%=info.directory%></td>
        </tr>
    </table>
  </div>
  
  <a href="/logout">Salir</a>
  <br />
      <%- include('../partials/footer'); %> 
</body>
</html>